$sand: #efb396
$info: $sand
$card-header-padding: 0rem
$link: $sand

@import "~bulma/sass/utilities/_all"
@import "~bulma/bulma.sass"

.mapboxgl-popup-close-button
    color: red
    font-size: 40px
    z-index: 999
    margin-right: 5px
    background-color: white
    border-radius: 15px
    opacity: .6
    transition: opacity 0.3s
    &:hover
        background-color: white
        opacity: 1

.mapboxgl-marker
    span
        font-size: 35px
