$sand:  #f4e496 
$green: #4b8856
$success: $green
$info: $sand
$card-header-padding: 0rem
$link: $sand
$navbar-background-color: $sand
$navbar-item-color: $green
$navbar-item-hover-color: black
$title-color: #F3F3DD
$subtitle-color: #F3F3DD
@import "~bulma/sass/utilities/_all"
@import "~bulma/bulma.sass"

.mapboxgl-popup
    z-index: 4

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip
    border-left-color:#46624b

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip
    border-left-color:#46624b

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip
    border-left-color:#46624b

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip
    border-left-color:#46624b

.mapboxgl-popup-content 
    color: #F3F3DD
    background-color: #46624b
    border-color: #354b39
    max-width: 325px
    padding: 0
    box-shadow: 3px 3px 2px #1d291f

.mapboxgl-popup-close-button
    color: white
    font-size: 50px
    z-index: 999
    font-weight: bold
    transition: opacity 0.3s
    left: 0
    &:hover
        background: transparent
        opacity: .6

.mapboxgl-marker
    span
        font-size: 35px
        z-index: 555

.card-image
    margin-top: 25px
    margin-left: auto
    margin-right: auto
    max-width: 50%
    cursor: pointer
    transition: opacity 0.3s
    opacity: 1
    &:hover
        opacity: .8


.cardTitle
    cursor: pointer
    opacity: 1
    transition: opacity 0.3s
    &:hover
        background: transparent
        opacity: .8
    
.cardFeatures
    display: flex

.cardFeatures ul
    margin-left: auto
    margin-right: auto
    list-style: none
    margin-bottom: 5px
    column-count: 2

.cardFeatures li
    text-align: left
    font-size: 12px
    &:last-child
        border: unset

.cardPop